<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmswide.nowcoder.dao.DiscussPostMapper">
    <select id="selectDiscussPosts" resultType="com.dmswide.nowcoder.entity.DiscussPost">
        select id, user_id, title, content, type, status, create_time, comment_count, score
        from community.discuss_post
        <trim prefix="where" prefixOverrides="and ">
            and status != 2
            <if test="userId != null and userId != '' and userId != 0">
                and user_id = #{userId}
            </if>
        </trim>
        order by type desc,create_time desc
        limit #{offset},#{limit}
    </select>

    <select id = "selectDiscussPostRows" resultType="Integer">
        select count(id)
        from community.discuss_post
        <trim prefix="where" prefixOverrides="and ">
            and status != 2
            <if test="userId != null and userId != '' and userId != 0">
                and user_id = #{userId}
            </if>
        </trim>
    </select>

    <!--keyProperty="id"生效：将post实体类插入MySQL数据库后，要获取post实体类的id信息，设置发帖事件的entityId。
    keyProperty="id"生效后，MyBatis会将插入到MySQL数据库中生成的id返回至DiscussPost实体-->
    <insert id="insertDiscussPost" parameterType="com.dmswide.nowcoder.entity.DiscussPost" keyProperty="id">
        insert into community.discuss_post(user_id, title, content, type, status, create_time, comment_count, score)
        values(#{userId},#{title},#{content},#{type},#{status},#{createTime},#{commentCount},#{score});
    </insert>

    <select id="selectDiscussPostById" parameterType="Integer" resultType="com.dmswide.nowcoder.entity.DiscussPost">
        select id, user_id, title, content, type, status, create_time, comment_count, score
        from community.discuss_post
        where id = #{id}
    </select>

    <!--方法的参数都是简单类型不需要声明 mybatis可以自己识别-->
    <update id="updateCommentCount">
        update community.discuss_post
        set comment_count = #{commentCount}
        where id = #{discussPostId}
    </update>
</mapper>